<style>
   
    .search-bar{
        height:2rem;
        border-radius: 2.5rem;
        width:21rem;
        padding:0.5rem 5rem ;
        
    }
    .btn-search{
        height:2rem;
        border-radius: 2.5rem;
        width:7rem;
        background-color: #fe424d;
        color:#fff;
        display: flex;
        align-items: center;
        
    }
    .btn-search:hover{
        border:2px solid #fe424d;
        color:#fe424d;
    }
    
    .btn-i{
        display: inline;
        margin-right: 0.8rem;
    }
    
    
    </style>
    
    <nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/listings"><i class="fa-solid fa-shirt"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                <div class="navbar-nav">
                   
                    <a class="nav-link" href="/home">Eco-Fashion </a>
                    
    
                </div>
    
                <div class="navbar-nav ms-auto">
                    <!-- <form class="d-flex" role="search">
                        <input class="form-control me-2 search-bar" type="search" placeholder="T-shirt" aria-label="Search">
                        <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass btn-i"></i> Search</button>
                      </form> -->
                      
                      <a class="nav-link" href="/recycle">Recycle</a>
                      &nbsp;
                    
                      <a class="nav-link" href="/listings">Buy</a>
                      &nbsp;
                      
                      <a class="nav-link" href="/research">Research</a>
                      &nbsp;
                </div>

                <div class="navbar-nav ms-auto">
                    <a class="nav-link" href="/listings/new">Resell-Your-Cloth</a>
                    &nbsp;
                    <%if (!currUser){%>
                    <a class="nav-link" href="/signup"><b>Sign up</b></a>
                    <a class="nav-link" href="/login"><b>Log in</b> </a>
                    <%}%>
                    <%if (currUser){%>
                        &nbsp;&nbsp;&nbsp;
                       
                    <a class="nav-link" href="/logout"><b>Log out</b> </a>
                    <%}%>
                </div>
            </div>
        </div>
    </nav>